FRC-DataFactory/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "FRC-DataFactory"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"FileServer_Source_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'FileServer_Source'"
		},
		"LS_SB3_FS_BRSAOWVOUT001_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SB3_FS_BRSAOWVOUT001'"
		},
		"PA_QA_SqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'PA_QA_SqlServer'"
		},
		"RestServiceSHPTest_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'RestServiceSHPTest'"
		},
		"SB3_FS_BRSAOWVOUT001_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SB3_FS_BRSAOWVOUT001'"
		},
		"SB3_FileServer_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SB3_FileServer'"
		},
		"SB3_LS_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SB3_LS'"
		},
		"FileServer_Source_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\azrstrs01vsa.vpar.votorantim.grupo\\SHARES\\CCTI\\_PUBLICA\\TesteSB3"
		},
		"FileServer_Source_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "vid_vpar\\fernandorc"
		},
		"LS_SB3_FS_BRSAOWVOUT001_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\BRSAOWVOUT001\\Sb3\\Arquivos\\Attach\\Call\\"
		},
		"LS_SB3_FS_BRSAOWVOUT001_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "vid_vpar\\fernandorc"
		},
		"RestServiceSHPTest_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://votorantimindustrial.sharepoint.com/sites/novas tecnologias/legadoSB3/_api/web/Lists(guid'bb8b1bce-4ba3-4759-9b3a-6727b03a4fab')/items"
		},
		"RestServiceSHPTest_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "vid_vpar\\fernandorc"
		},
		"SB3_FS_BRSAOWVOUT001_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\BRSAOWVOUT001\\Sb3\\Arquivos\\Attach\\Call\\"
		},
		"SB3_FS_BRSAOWVOUT001_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "vid_vpar\\fernandorc"
		},
		"SB3_FileServer_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\BRCWBWHD301VPAR.vpar.votorantim.grupo\\d\\Sb3\\Arquivos\\Attach\\Call"
		},
		"SB3_FileServer_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "vid_vpar\\fernandorc"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SB3_SHP_LegadosSB3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Acesso ao site LegadoSB3 no Sharepoint, para migração de dados para a lista de chamados.",
				"linkedServiceName": {
					"referenceName": "SB3_SharePointOnlineList_LS",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SB3"
				},
				"annotations": [],
				"type": "SharePointOnlineListResource",
				"schema": [],
				"typeProperties": {
					"listName": "Chamados"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_PortalAprovacoes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PortalAprovacoesQA",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "teste",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "IRlab021",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileServer_Source')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Teste com File Server",
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('FileServer_Source_properties_typeProperties_host')]",
					"userId": "[parameters('FileServer_Source_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('FileServer_Source_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IRlab021",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SB3_FS_BRSAOWVOUT001')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Para teste de conexão com um file server",
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('LS_SB3_FS_BRSAOWVOUT001_properties_typeProperties_host')]",
					"userId": "[parameters('LS_SB3_FS_BRSAOWVOUT001_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SB3_FS_BRSAOWVOUT001_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IRlab021",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PA_QA_SqlServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "SQL Server do Portal de Aprovacoes, ambiente de QA",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('PA_QA_SqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "IRlab021",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestServiceSHPTest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Teste com acesso a api REST do Sharepoint para lista de Chamados, site Legados SB3",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestServiceSHPTest_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('RestServiceSHPTest_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('RestServiceSHPTest_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IRlab021",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SB3_FS_BRSAOWVOUT001')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Acesso ao file server do servidor BRSAOWVOUT001",
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('SB3_FS_BRSAOWVOUT001_properties_typeProperties_host')]",
					"userId": "[parameters('SB3_FS_BRSAOWVOUT001_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SB3_FS_BRSAOWVOUT001_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IRlab021",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SB3_FileServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('SB3_FileServer_properties_typeProperties_host')]",
					"userId": "[parameters('SB3_FileServer_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SB3_FileServer_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IRlab021",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SB3_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked Service para conexão com o bando de dados do SB3",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SB3_LS_connectionString')]"
				},
				"connectVia": {
					"referenceName": "IRlab021",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Demo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy data from a REST API",
				"activities": [
					{
						"name": "Copy data from DEMO_RestResource to DEMO_JSON",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"path": "id"
										}
									},
									{
										"source": {
											"path": "[['employee_name']"
										},
										"sink": {
											"path": "employee_name"
										}
									},
									{
										"source": {
											"path": "[['employee_salary']"
										},
										"sink": {
											"path": "employee_salary"
										}
									},
									{
										"source": {
											"path": "[['employee_age']"
										},
										"sink": {
											"path": "employee_age"
										}
									},
									{
										"source": {
											"path": "[['profile_image']"
										},
										"sink": {
											"path": "profile_image"
										}
									}
								],
								"collectionReference": "$['data']"
							}
						},
						"inputs": [
							{
								"referenceName": "DEMO_RestResource",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DEMO_Json",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_SB3_to_SHP_CUSTOMER')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GET_CUSTOMER_INFO",
						"description": "Obtem dados do CUSTOMER",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"additionalColumns": [
									{
										"name": "__metadata",
										"value": {
											"value": "SP.Data.ListaCustomersListItem",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "RestSink",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": 10,
								"requestMethod": "POST",
								"writeBatchSize": 10000,
								"httpCompressionType": "none"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['ID_SEC_PERSON']"
										},
										"sink": {
											"path": "$['ID_SEC_PERSON']"
										}
									},
									{
										"source": {
											"path": "$['TX_LOGIN']"
										},
										"sink": {
											"path": "$['TX_LOGIN']"
										}
									},
									{
										"source": {
											"path": "$['TX_NAME']"
										},
										"sink": {
											"path": "$['TX_NAME']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DEMO_Json",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "REST_SB3_Sharepoint",
								"type": "DatasetReference",
								"parameters": {
									"Accept": "application/json;odata=verbose",
									"Content-Type": "application/json;odata=verbose"
								}
							}
						]
					}
				],
				"folder": {
					"name": "SB3"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_SHPDecConf')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Retorna campos das listas Sharepoint, passando a query como parâmetro para o linked service - aplicação Declaração de Conformidade",
				"activities": [
					{
						"name": "GetShpDecConfLists",
						"description": "Obtem dados das listas do site Declaração de Conformidade",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Define pl_token_automatico",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "https://votorantimindustrial.sharepoint.com/sites/ccti_sistemas/novastec/testes/_api/web"
							},
							{
								"name": "Destination",
								"value": "arquivos//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"Authorization": {
										"value": "NTLM TlRMTVNTUAADAAAAGAAYAEAAAAD6APoAWAAAABQAFABSAQAAHAAcAGYBAAAOAA4AggEAAAAAAACQAQAANQIIIPfy6z/uYYfwqvBoLzaNvW8lVn9yI7nxTsKwYGgzrEVHpgar5lf/xK4BAQAAAAAAAED1SPE8qdUBJVZ/ciO58U4AAAAAAgAUAFYATwBUAE8AUgBBAE4AVABJAE0AAQAaAEIAUgBTAEEATwBXAFYAUwBQAFMAMAAwADIABAAgAHYAbwB0AG8AcgBhAG4AdABpAG0ALgBnAHIAdQBwAG8AAwA8AEIAUgBTAEEATwBXAFYAUwBQAFMAMAAwADIALgB2AG8AdABvAHIAYQBuAHQAaQBtAC4AZwByAHUAcABvAAUAIAB2AG8AdABvAHIAYQBuAHQAaQBtAC4AZwByAHUAcABvAAcACADQ0lXxPKnVAQAAAABWAE8AVABPAFIAQQBOAFQASQBNAHMAdgBjAC4AcwBoAGEAcgBlAHAAbwBpAG4AdABWAFMAQQAwADMAMAAyAA==",
										"type": "Expression"
									}
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "REST_TesteSHP2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "BLOB_Json",
								"type": "DatasetReference",
								"parameters": {
									"filename": {
										"value": "ListaEmpresa",
										"type": "Expression"
									},
									"dir": "DeclConf"
								}
							}
						]
					},
					{
						"name": "GetToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://accounts.accesscontrol.windows.net/49158df8-04df-4db2-a1ae-ee3949ca3984/tokens/OAuth/2",
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": "grant_type=client_credentials&client_id=ed6e6022-70bd-4dd9-bc99-6570ccd6e58d%4049158df8-04df-4db2-a1ae-ee3949ca3984&client_secret=eJOWNvu0GfBv8ZfcRxtD06oKOfNt4KgcJ%2Bv2ctcJ%2BUc%3D\n&resource=00000003-0000-0ff1-ce00-000000000000/votorantimindustrial.sharepoint.com@49158df8-04df-4db2-a1ae-ee3949ca3984",
							"linkedServices": [
								{
									"referenceName": "ls_frctestedatafactory",
									"type": "LinkedServiceReference"
								}
							],
							"datasets": [
								{
									"referenceName": "BLOB_Json",
									"type": "DatasetReference",
									"parameters": {
										"filename": "token",
										"dir": "sharepoint"
									}
								}
							]
						}
					},
					{
						"name": "Define pl_token_automatico",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "pl_token_auto",
							"value": {
								"value": "@concat('Bearer ',activity('GetToken').output.access_token)",
								"type": "Expression"
							}
						}
					}
				],
				"concurrency": 1,
				"variables": {
					"pl_token_auto": {
						"type": "String",
						"defaultValue": "."
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "arquivos"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_ute')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "test"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/REST_SharepointTeste')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Acesso Sharepoint on-line de teste ",
				"linkedServiceName": {
					"referenceName": "RestServiceSHPTest",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"token": {
						"type": "string"
					},
					"relative_url": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@dataset().relative_url",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestServiceSHPTest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SB3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SB3_LS",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SB3"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CHAMADO",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "CASO",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "ATENDENTE",
						"type": "varchar"
					},
					{
						"name": "NR_TEMPO_REGISTRO_CHAMADO",
						"type": "varchar"
					},
					{
						"name": "DT_ABERTURA",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "HR_ABERTURA",
						"type": "varchar"
					},
					{
						"name": "DT_LIMITE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "HR_LIMITE",
						"type": "varchar"
					},
					{
						"name": "DT_ATUALIZACAO_CASO",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "HR_ATUALIZACAO_CASO",
						"type": "varchar"
					},
					{
						"name": "DT_ATUALIZACAO_CHAMADO",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "HR_ATUALIZACAO_CHAMADO",
						"type": "varchar"
					},
					{
						"name": "CLIENTE",
						"type": "varchar"
					},
					{
						"name": "LOCALIZACAO",
						"type": "varchar"
					},
					{
						"name": "RELATOR",
						"type": "varchar"
					},
					{
						"name": "PRIORIDADE",
						"type": "varchar"
					},
					{
						"name": "IMPACTO",
						"type": "varchar"
					},
					{
						"name": "STATUS",
						"type": "varchar"
					},
					{
						"name": "SLA",
						"type": "varchar"
					},
					{
						"name": "TIPO",
						"type": "varchar"
					},
					{
						"name": "CLASS_ENCERRAMENTO",
						"type": "varchar"
					},
					{
						"name": "FASE_CASO",
						"type": "varchar"
					},
					{
						"name": "SOLUCAO",
						"type": "varchar"
					},
					{
						"name": "DESCRICAO",
						"type": "varchar"
					},
					{
						"name": "INF_ADICIONAIS",
						"type": "varchar"
					},
					{
						"name": "RESPONSAVEL",
						"type": "varchar"
					},
					{
						"name": "RESPONSAVEL_ENCERRAMENTO",
						"type": "varchar"
					},
					{
						"name": "GRUPO_RESPONSAVEL",
						"type": "varchar"
					},
					{
						"name": "APROVACAO",
						"type": "varchar"
					},
					{
						"name": "REABERTURA",
						"type": "varchar"
					},
					{
						"name": "NR_TEMPO_DURACAO_CHAMADO",
						"type": "varchar"
					},
					{
						"name": "NR_TEMPO_DURACAO_CASO",
						"type": "varchar"
					},
					{
						"name": "NR_ATRASO_CHAMADO",
						"type": "varchar"
					},
					{
						"name": "NR_ATRASO_CASO",
						"type": "varchar"
					},
					{
						"name": "NR_ATRASO_DESC_INTERR",
						"type": "varchar"
					},
					{
						"name": "NR_ESFORCO_PREVISTO",
						"type": "varchar"
					},
					{
						"name": "NR_ESFORCO",
						"type": "varchar"
					},
					{
						"name": "NR_SALDO_ESFORCO",
						"type": "varchar"
					},
					{
						"name": "CONTADOR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TREINAMENTO",
						"type": "varchar"
					},
					{
						"name": "VOLUME_CHAMADO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CHAMADO_ORIGINAL",
						"type": "varchar"
					},
					{
						"name": "SOLIC_INTERJ_FPONTO",
						"type": "varchar"
					},
					{
						"name": "EXCECAO",
						"type": "varchar"
					},
					{
						"name": "EMPRESA_SAP",
						"type": "varchar"
					},
					{
						"name": "COMPETENCIAS",
						"type": "varchar"
					},
					{
						"name": "MATRICULA",
						"type": "varchar"
					},
					{
						"name": "NOME",
						"type": "varchar"
					},
					{
						"name": "CPF",
						"type": "varchar"
					},
					{
						"name": "ANO",
						"type": "varchar"
					},
					{
						"name": "AREA_RH",
						"type": "varchar"
					},
					{
						"name": "PRAZO",
						"type": "varchar"
					},
					{
						"name": "PERIODO",
						"type": "varchar"
					},
					{
						"name": "MOTIVO",
						"type": "varchar"
					},
					{
						"name": "TIPO_RH",
						"type": "varchar"
					},
					{
						"name": "MOTIVO_EXP_REP",
						"type": "varchar"
					},
					{
						"name": "TIPO_INSAL_PERIC",
						"type": "varchar"
					},
					{
						"name": "DATA",
						"type": "varchar"
					},
					{
						"name": "PAIS_DESTINO",
						"type": "varchar"
					},
					{
						"name": "SALDO_DEVEDOR",
						"type": "varchar"
					},
					{
						"name": "NUM_FORPONTO",
						"type": "varchar"
					},
					{
						"name": "NUM_PARCELAS",
						"type": "varchar"
					},
					{
						"name": "UNI_FORPONTO",
						"type": "varchar"
					},
					{
						"name": "PERCENTUAL",
						"type": "varchar"
					},
					{
						"name": "COD_SINDICATO",
						"type": "varchar"
					},
					{
						"name": "ACAO",
						"type": "varchar"
					},
					{
						"name": "DATA_REINTEG",
						"type": "varchar"
					},
					{
						"name": "NUM_POSICAO",
						"type": "varchar"
					},
					{
						"name": "DATA_CREDITO",
						"type": "varchar"
					},
					{
						"name": "VALOR",
						"type": "varchar"
					},
					{
						"name": "DATA_PGTO",
						"type": "varchar"
					},
					{
						"name": "BANCO",
						"type": "varchar"
					},
					{
						"name": "NOME_COLABORADOR",
						"type": "varchar"
					},
					{
						"name": "TIPO_AFASTAMENTO",
						"type": "varchar"
					},
					{
						"name": "NOME_PENSIONISTA",
						"type": "varchar"
					},
					{
						"name": "MOTIVO_SOLIC_2",
						"type": "varchar"
					},
					{
						"name": "TIPO_ADTO_QUINZ",
						"type": "varchar"
					},
					{
						"name": "DATA_ADMISSAO",
						"type": "varchar"
					},
					{
						"name": "PLANO_MEDICO",
						"type": "varchar"
					},
					{
						"name": "PLANO_ODONTO",
						"type": "varchar"
					},
					{
						"name": "RECLAMANTE",
						"type": "varchar"
					},
					{
						"name": "RECEM_NASCIDO",
						"type": "varchar"
					},
					{
						"name": "DATA_NASCIMENTO",
						"type": "varchar"
					},
					{
						"name": "TIPO_REEMBOLSO",
						"type": "varchar"
					},
					{
						"name": "SOLICIT",
						"type": "varchar"
					},
					{
						"name": "DATA_DCTO",
						"type": "varchar"
					},
					{
						"name": "REQUERIMENTO",
						"type": "varchar"
					},
					{
						"name": "MES_VIGENTE",
						"type": "varchar"
					},
					{
						"name": "TIPO_BENEF",
						"type": "varchar"
					},
					{
						"name": "PRAZO_INSC",
						"type": "varchar"
					},
					{
						"name": "TIPO_IMPORT",
						"type": "varchar"
					},
					{
						"name": "NOME_PLANO",
						"type": "varchar"
					},
					{
						"name": "VIGENCIA",
						"type": "varchar"
					},
					{
						"name": "CURSO",
						"type": "varchar"
					},
					{
						"name": "TIPO_FATURA",
						"type": "varchar"
					},
					{
						"name": "DATA_TREINAMENTO",
						"type": "varchar"
					},
					{
						"name": "TIPO_ATUALIZACAO",
						"type": "varchar"
					},
					{
						"name": "TIPO_DECLARACAO",
						"type": "varchar"
					},
					{
						"name": "TIPO_DOCUMENTO",
						"type": "varchar"
					},
					{
						"name": "DATA_INI_CURSO",
						"type": "varchar"
					},
					{
						"name": "NOME_INSTITUICAO",
						"type": "varchar"
					},
					{
						"name": "TEL_CONTATO",
						"type": "varchar"
					},
					{
						"name": "SITE",
						"type": "varchar"
					},
					{
						"name": "TIPO_ALTERACAO",
						"type": "varchar"
					},
					{
						"name": "GESTOR",
						"type": "varchar"
					},
					{
						"name": "UNI_NOTA_PERTENCE",
						"type": "varchar"
					},
					{
						"name": "FORNECEDOR",
						"type": "varchar"
					},
					{
						"name": "RG",
						"type": "varchar"
					},
					{
						"name": "RESPONSAVEL2",
						"type": "varchar"
					},
					{
						"name": "CENTRO_CUSTO",
						"type": "varchar"
					},
					{
						"name": "DATA_FINAL_UTILI",
						"type": "varchar"
					},
					{
						"name": "DATA_VENC",
						"type": "varchar"
					},
					{
						"name": "DATA_BASE",
						"type": "varchar"
					},
					{
						"name": "TIPO_ACORD_COLETIVO",
						"type": "varchar"
					},
					{
						"name": "EXCECAO_BENEF",
						"type": "varchar"
					},
					{
						"name": "VALOR_NF",
						"type": "varchar"
					},
					{
						"name": "GESTOR_ORIGEM",
						"type": "varchar"
					},
					{
						"name": "GESTOR_DESTINO",
						"type": "varchar"
					},
					{
						"name": "EMAIL",
						"type": "varchar"
					},
					{
						"name": "LOGIN_REDE",
						"type": "varchar"
					},
					{
						"name": "VOLUME1",
						"type": "varchar"
					},
					{
						"name": "TIPO_BENEFI",
						"type": "varchar"
					},
					{
						"name": "TIPO_AFAST_RETOR",
						"type": "varchar"
					},
					{
						"name": "MOTIVO_13",
						"type": "varchar"
					},
					{
						"name": "DATA_VIG_BENEF",
						"type": "varchar"
					},
					{
						"name": "INST_FINANCEIRA",
						"type": "varchar"
					},
					{
						"name": "MOTIVO_SOLIC",
						"type": "varchar"
					},
					{
						"name": "TIPO_BENEF_VT",
						"type": "varchar"
					},
					{
						"name": "REGIONAL",
						"type": "varchar"
					},
					{
						"name": "TIPO_REEEMB_SUBSIDIO",
						"type": "varchar"
					},
					{
						"name": "NOME_SINDICATO",
						"type": "varchar"
					},
					{
						"name": "NOME_ABREVI",
						"type": "varchar"
					},
					{
						"name": "CNPJ_SINDICATO",
						"type": "varchar"
					},
					{
						"name": "END_SINDICATO",
						"type": "varchar"
					},
					{
						"name": "CIDADE",
						"type": "varchar"
					},
					{
						"name": "CEP",
						"type": "varchar"
					},
					{
						"name": "COD_ENTID_SINDICATO",
						"type": "varchar"
					},
					{
						"name": "PISO_CATEGORIA",
						"type": "varchar"
					},
					{
						"name": "SINDICATO_ESPELHO",
						"type": "varchar"
					},
					{
						"name": "UF",
						"type": "varchar"
					},
					{
						"name": "ELEG_PLANO",
						"type": "varchar"
					},
					{
						"name": "VALOR_ANTIGO_PLANO",
						"type": "varchar"
					},
					{
						"name": "VALOR_ATUAL_PLANO",
						"type": "varchar"
					},
					{
						"name": "TIPO_SOLIC",
						"type": "varchar"
					},
					{
						"name": "ALTER_BENEFIC",
						"type": "varchar"
					},
					{
						"name": "DATA_ADM_CADASTRADA",
						"type": "varchar"
					},
					{
						"name": "ALTERAR_DATA_PARA",
						"type": "varchar"
					},
					{
						"name": "TX_MATRICULA",
						"type": "varchar"
					},
					{
						"name": "TX_DT_DESLIGAMENTO",
						"type": "varchar"
					},
					{
						"name": "PARENTESCO",
						"type": "varchar"
					},
					{
						"name": "DATA_NASC_PENSIONISTA",
						"type": "varchar"
					},
					{
						"name": "VOLUME",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DT_DESLIGAMENTO",
						"type": "varchar"
					},
					{
						"name": "DT_PGTO",
						"type": "varchar"
					},
					{
						"name": "DT_EDICAO",
						"type": "varchar"
					},
					{
						"name": "DT_KIT",
						"type": "varchar"
					},
					{
						"name": "NOME_RESPONSAVEL",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "SB3",
					"table": "VIEW_CHAMADO_COMPLETO_CXT_DHO_ALL_DINAMICOS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SB3_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SB3DelimitedText')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer_Source",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SB3"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "contexto01.txt",
						"folderPath": "data_factory"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FileServer_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SB3_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer_Source",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cvs_fileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SB3"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().cvs_fileName",
							"type": "Expression"
						},
						"folderPath": "SB3_CSV_Files"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ID_CALL_HD",
						"type": "String"
					},
					{
						"name": "ID_SEC_CONTEXT",
						"type": "String"
					},
					{
						"name": "ID_SEC_PERSON_REPORTER",
						"type": "String"
					},
					{
						"name": "ID_SEC_PERSON_ATTENDANT",
						"type": "String"
					},
					{
						"name": "ID_CALL_TYPE",
						"type": "String"
					},
					{
						"name": "ID_IMPACT",
						"type": "String"
					},
					{
						"name": "ID_PRIORITY",
						"type": "String"
					},
					{
						"name": "TX_CALL_DESCRIPTION",
						"type": "String"
					},
					{
						"name": "DT_CALL_OPENING",
						"type": "String"
					},
					{
						"name": "DT_CALL_REGISTER",
						"type": "String"
					},
					{
						"name": "NR_TIME_DURATION",
						"type": "String"
					},
					{
						"name": "ID_CUSTOMER",
						"type": "String"
					},
					{
						"name": "ID_CALL_STATUS",
						"type": "String"
					},
					{
						"name": "ID_CALL_RETURN",
						"type": "String"
					},
					{
						"name": "DT_CALL_RETURN",
						"type": "String"
					},
					{
						"name": "ID_CALL_ORIGIN",
						"type": "String"
					},
					{
						"name": "DT_CALL_ORIGIN",
						"type": "String"
					},
					{
						"name": "DT_CALL_LIMIT",
						"type": "String"
					},
					{
						"name": "NR_TIME_SERVICE",
						"type": "String"
					},
					{
						"name": "NR_EFFORT",
						"type": "String"
					},
					{
						"name": "NR_DELAY",
						"type": "String"
					},
					{
						"name": "BO_TIME_CALCULATED",
						"type": "String"
					},
					{
						"name": "TX_CLOSING_SOURCE",
						"type": "String"
					},
					{
						"name": "DT_LAST_CALCULATION",
						"type": "String"
					},
					{
						"name": "TX_SOURCE_LAST_CALCULATION",
						"type": "String"
					},
					{
						"name": "ID_CALL_COMPLEMENT_01",
						"type": "String"
					},
					{
						"name": "ID_CALL_COMPLEMENT_02",
						"type": "String"
					},
					{
						"name": "ID_CALL_COMPLEMENT_03",
						"type": "String"
					},
					{
						"name": "ID_CALL_PHASE",
						"type": "String"
					},
					{
						"name": "DT_CREATION",
						"type": "String"
					},
					{
						"name": "ID_SEC_PERSON_CREATOR",
						"type": "String"
					},
					{
						"name": "DT_MODIFY",
						"type": "String"
					},
					{
						"name": "ID_SEC_PERSON_MODIFIER",
						"type": "String"
					},
					{
						"name": "ID_CHAT",
						"type": "String"
					},
					{
						"name": "CD_DETACHMENT_PROCESS",
						"type": "String"
					},
					{
						"name": "DT_DETACHMENT_PROCESS",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FileServer_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SB3_FS_Teste_BRSAOWVOUT001')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SB3_FS_BRSAOWVOUT001",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SB3_FS_BRSAOWVOUT001')]"
			]
		}
	]
}