FRC-DataFactory/PartialArmTemplates/ArmTemplate_11_27_2019_16_15_10.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "FRC-DataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipe_SHPTest_BLOB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "https://votorantimindustrial.sharepoint.com/sites/ccti_sistemas/novastec/testes/_api/web"
							},
							{
								"name": "Destination",
								"value": "arquivos//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"Authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkJCOENlRlZxeWFHckdOdWVoSklpTDRkZmp6dyIsImtpZCI6IkJCOENlRlZxeWFHckdOdWVoSklpTDRkZmp6dyJ9.eyJhdWQiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvdm90b3JhbnRpbWluZHVzdHJpYWwuc2hhcmVwb2ludC5jb21ANDkxNThkZjgtMDRkZi00ZGIyLWExYWUtZWUzOTQ5Y2EzOTg0IiwiaXNzIjoiMDAwMDAwMDEtMDAwMC0wMDAwLWMwMDAtMDAwMDAwMDAwMDAwQDQ5MTU4ZGY4LTA0ZGYtNGRiMi1hMWFlLWVlMzk0OWNhMzk4NCIsImlhdCI6MTU3NDg3NjQ3MywibmJmIjoxNTc0ODc2NDczLCJleHAiOjE1NzQ5MDU1NzMsImlkZW50aXR5cHJvdmlkZXIiOiIwMDAwMDAwMS0wMDAwLTAwMDAtYzAwMC0wMDAwMDAwMDAwMDBANDkxNThkZjgtMDRkZi00ZGIyLWExYWUtZWUzOTQ5Y2EzOTg0IiwibmFtZWlkIjoiZWQ2ZTYwMjItNzBiZC00ZGQ5LWJjOTktNjU3MGNjZDZlNThkQDQ5MTU4ZGY4LTA0ZGYtNGRiMi1hMWFlLWVlMzk0OWNhMzk4NCIsIm9pZCI6IjQ5OTViYTMxLWYyZTktNDJhYi1hZmVlLWE3MDE0MjBjZjIzMiIsInN1YiI6IjQ5OTViYTMxLWYyZTktNDJhYi1hZmVlLWE3MDE0MjBjZjIzMiIsInRydXN0ZWRmb3JkZWxlZ2F0aW9uIjoiZmFsc2UifQ.Eb1hmYehV6dp3KCgMI2a9xXhh0vCFOnMrlB_5KfT1CTPNQWqSapMEVlfTo-142qfj46G6rfM2AwyeZ7s8YPpAi2ymxDCf9of1KmE-PS1Jp46iNhPDm-Oov1trdv6_dtln1gkN5ERzbCVUWZiuYyj9eYwRlktV0HwSQrRECHtYlk-6Lwgb6VL6W4HLLkVDjPiHE6oBV1VWSTFNqj4JI5CFH5DCks07PcXk_GuAIL908GcUEqO6viYVRP24IJ65MU9DaG1jhmkHoVhxB1suE4DusR4q6t9i4vPB1zPYrNVGlA_qM9SBAjrosqy18ev4MAvCMrGj4Xolkk2HtrpAPu4Hw\""
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"quoteAllText": true
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "REST_SharepointTeste",
								"type": "DatasetReference",
								"parameters": {
									"token": "@concat(string(activity('Web1').output.token_type),'',string(activity('Web1').output.access_token))"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "BLOB_Json",
								"type": "DatasetReference",
								"parameters": {
									"filename": "file_teste",
									"folderpath": "teste"
								}
							}
						]
					},
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://accounts.accesscontrol.windows.net/49158df8-04df-4db2-a1ae-ee3949ca3984/tokens/OAuth/2",
							"method": "GET",
							"headers": {
								"grant_type": "client_credentials",
								"client_id": "ed6e6022-70bd-4dd9-bc99-6570ccd6e58d@49158df8-04df-4db2-a1ae-ee3949ca3984",
								"client_secret": "eJOWNvu0GfBv8ZfcRxtD06oKOfNt4KgcJ+v2ctcJ+Uc=",
								"resource": "00000003-0000-0ff1-ce00-000000000000/votorantimindustrial.sharepoint.com@49158df8-04df-4db2-a1ae-ee3949ca3984",
								"Content-Type": "application/x-www-form-urlencoded"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/REST_SharepointTeste')]",
				"[concat(variables('factoryId'), '/datasets/BLOB_Json')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BLOB_Json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_frctestedatafactory",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string",
						"defaultValue": "@pipeline().parameters.FileName"
					},
					"folderpath": {
						"type": "string",
						"defaultValue": "@pipeline().parameters.FolderPath"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "@dataset().FileName",
						"container": "blob-shptest"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/REST_SharepointTeste')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Acesso Sharepoint on-line de teste ",
				"linkedServiceName": {
					"referenceName": "RestServiceSHPTest",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"token": {
						"type": "string",
						"defaultValue": "@concat(string(activity('Web1').output.token_type),'',string(activity('Web1').output.access_token))"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": ""
				},
				"schema": []
			},
			"dependsOn": []
		}
	]
}