DataFactory/pipeline/pipe_SHPTest_BLOB.json
{
	"name": "pipe_SHPTest_BLOB",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "https://votorantimindustrial.sharepoint.com/sites/ccti_sistemas/novastec/testes/_api/web"
					},
					{
						"name": "Destination",
						"value": "arquivos//"
					}
				],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkJCOENlRlZxeWFHckdOdWVoSklpTDRkZmp6dyIsImtpZCI6IkJCOENlRlZxeWFHckdOdWVoSklpTDRkZmp6dyJ9.eyJhdWQiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvdm90b3JhbnRpbWluZHVzdHJpYWwuc2hhcmVwb2ludC5jb21ANDkxNThkZjgtMDRkZi00ZGIyLWExYWUtZWUzOTQ5Y2EzOTg0IiwiaXNzIjoiMDAwMDAwMDEtMDAwMC0wMDAwLWMwMDAtMDAwMDAwMDAwMDAwQDQ5MTU4ZGY4LTA0ZGYtNGRiMi1hMWFlLWVlMzk0OWNhMzk4NCIsImlhdCI6MTU3NDg1Nzg3MSwibmJmIjoxNTc0ODU3ODcxLCJleHAiOjE1NzQ4ODY5NzEsImlkZW50aXR5cHJvdmlkZXIiOiIwMDAwMDAwMS0wMDAwLTAwMDAtYzAwMC0wMDAwMDAwMDAwMDBANDkxNThkZjgtMDRkZi00ZGIyLWExYWUtZWUzOTQ5Y2EzOTg0IiwibmFtZWlkIjoiZWQ2ZTYwMjItNzBiZC00ZGQ5LWJjOTktNjU3MGNjZDZlNThkQDQ5MTU4ZGY4LTA0ZGYtNGRiMi1hMWFlLWVlMzk0OWNhMzk4NCIsIm9pZCI6IjQ5OTViYTMxLWYyZTktNDJhYi1hZmVlLWE3MDE0MjBjZjIzMiIsInN1YiI6IjQ5OTViYTMxLWYyZTktNDJhYi1hZmVlLWE3MDE0MjBjZjIzMiIsInRydXN0ZWRmb3JkZWxlZ2F0aW9uIjoiZmFsc2UifQ.XZEQ2bHj70qtZB1GOASaRSirPSRMewR09aJbiFanTR5WAyHK0F1kw8XjgZ7xgiJnvq1PPXEgWbC-Q7rolt21H9N_UK_ahYblfmjnVjSIh-hqPFU86Yl1_Bcz_zfmj6XznNpb2rVWe18nGJqJjTj9hu9ZfE7ud6qvPBcPdngaUYFXDKJ58ey2tDKSHbwfSNCYkD_PZmjjP_US5_VXG087EyuEUvO_kFsSWkqCCJnln4cSRkf0J45YOFXkMYUj-AOemWMAkoMdXbp4zcN4Uo3RI9alOLdDI4AYnwS85LrO71laaTRsQ9h66bBCqKj_wghPZASTsTbGd7MtgGOVewV9nQ"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"quoteAllText": true
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "REST_SharepointTeste",
						"type": "DatasetReference",
						"parameters": {
							"token": "@concat(string(activity(\"Web1\").output.token_type),'',string(activity('Web1').output.access_token))",
							"url": "@pipeline().parameters.SharePointUrl"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "BLOB_Json",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://accounts.accesscontrol.windows.net/49158df8-04df-4db2-a1ae-ee3949ca3984/tokens/OAuth/2",
					"method": "GET",
					"headers": {
						"grant_type": "client_credentials",
						"client_id": "ed6e6022-70bd-4dd9-bc99-6570ccd6e58d@49158df8-04df-4db2-a1ae-ee3949ca3984",
						"client_secret": "eJOWNvu0GfBv8ZfcRxtD06oKOfNt4KgcJ+v2ctcJ+Uc=",
						"resource": "00000003-0000-0ff1-ce00-000000000000/votorantimindustrial.sharepoint.com@49158df8-04df-4db2-a1ae-ee3949ca3984",
						"Content-Type": "application/x-www-form-urlencoded"
					}
				}
			}
		],
		"annotations": []
	}
}