DataFactory/pipeline/SB3_AZRSQL_TO_Excel.json
{
	"name": "SB3_AZRSQL_TO_Excel",
	"properties": {
		"description": "Copia dados do SB3 SQL Azure para o Excel - formato CSV",
		"activities": [
			{
				"name": "Copia dados do SQL SB3 Azure para uma planilha Excel",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Contexto",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Contexto",
						"value": "0"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT count(*) from @variables('vTableName')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "FileServerWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SB3_AzureSQL",
						"type": "DatasetReference",
						"parameters": {
							"tbName": "tbCtx02"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SB3_CSV",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Contexto",
				"description": "Define o contexto que será utilizado na query.",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vTableName",
					"value": {
						"value": "@\"[bdlegadosb3].[tbCtx\"&variables('vContexto')\"]\"",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"vContexto": {
				"type": "String",
				"defaultValue": "01"
			},
			"vTableName": {
				"type": "String",
				"defaultValue": "[bdlegadosb3].[tbCtx]"
			}
		},
		"folder": {
			"name": "SB3"
		},
		"annotations": []
	}
}