DataFactory/pipeline/TesteSharepoint.json
{
	"name": "TesteSharepoint",
	"properties": {
		"description": "Teste com Sharepoint",
		"activities": [
			{
				"name": "Verifica se arquivo existe no diretorio",
				"description": "Após execução do pipeline valida se arquivo foi criado.",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SB3_CSV",
						"type": "DatasetReference",
						"parameters": {
							"cvs_fileName": "teste.csv"
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Acessa Sharepoint",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "vToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@activity('GetToken').output",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "FileServerWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "REST_SB3_Sharepoint",
						"type": "DatasetReference",
						"parameters": {
							"Accept": "application/json;odata=verbose",
							"Content-Type": "application/json;odata=verbose"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SB3_CSV",
						"type": "DatasetReference",
						"parameters": {
							"cvs_fileName": "SHP_Teste.csv"
						}
					}
				]
			},
			{
				"name": "GetToken",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Verifica se arquivo existe no diretorio",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://accounts.accesscontrol.windows.net/49158df8-04df-4db2-a1ae-ee3949ca3984/tokens/OAuth/2",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials&\nclient_id=63a455c0-3bb0-48df-ad2e-d327cb2b23f3@49158df8-04df-4db2-a1ae-ee3949ca3984&\nclient_secret=FtIRlUSuL0dnEMhbgOCIAbtD44zjiVz4JlZk97nI8gw=&\nresource=00000003-0000-0ff1-ce00-000000000000/votorantimindustrial.sharepoint.com@49158df8-04df-4db2-a1ae-ee3949ca3984",
					"linkedServices": [
						{
							"referenceName": "REST_SB3_Sharepoint",
							"type": "LinkedServiceReference"
						}
					]
				}
			},
			{
				"name": "vToken",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "GetToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": []
			}
		],
		"variables": {
			"FileExists": {
				"type": "String",
				"defaultValue": "false"
			},
			"vToken": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SB3"
		},
		"annotations": []
	}
}